<nav class="navbar navbar-expand-lg navbar-purple bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            BookMyOrder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/admin">
                        Admin Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/user">
                        User Dashboard</a>
                </li>
            </ul>

            <button type="button" class="btn btn-success" routerLink="/login">login</button>
            <br>
            <button type="button" class="btn btn-danger">logout</button> </div>
    </div>
</nav>